* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.header {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  h2 {
    color: orange;
    font-weight: bold;
    font-size: 35px;
  }
}

.menu {
  color: white;
}

.search {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.search span {
  border: 1px solid black;
}

.profile img {
  border-radius: 50px;
  height: 40px;
  width: 40px;
}

ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul li a {
  color: white;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: orange;
}

.main {
  background-image: url(/images/heading\ pic\ 2);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.main1 {
  justify-items: left;
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  margin-left: 10px;
  h2 {
    color: orange;
  }

}

.main small {
  color: white;
  opacity: 0.5;
}

.swiper {
  background-color: black;
  color: white;
}

#btn1 {
  color: #ffffff;
  background-color: black;
  border-radius: 20px;
}

#time {
  font-weight: bold;
}

#container {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#paragraph-one {
  text-align: left;
  color: #ffffff;
}

#btn2 {
  background-color: green;
  color: #ffffff;
}

#btn4 {
  color: white;
  background-color: black;
  border: 1px solid white;
}

#movies {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  font-size: 10px;
  color: white;
  font-style: italic;
  padding: 5px;
  img {
    height: 400px;
    width: 300px;
    border-radius: 10px;
    filter: drop-shadow(0 0 2em #f7df);
  }
}

.popular {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.pop h3{
  margin-top: 70px;
  margin-bottom: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
}

.popular h1 {
  color: white;
  margin-top: 50px;
}


.week {
  display: flex;
  gap: 15px;
}

.sub1 img {
  height: 60%;
  border-radius: 10px;
}

#btn8 {
  background-color: green; 
}

#btn9:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.sub-one {
  color: white;
  
}

.week2 {
  display: flex;
  gap: 15px;
}

.week3 {
  display: flex;
  gap: 15px;
}

.week4 {
  display: flex;
  gap: 15px;
}

.week5 {
  display: flex;
  gap: 15px;
}

#movies:hover {
  color: greenyellow;
}

#movies img:hover {
  color: #535bf2;
}

.galaxy {
  flex-wrap: wrap;
  position: absolute;
  bottom: 40px;
  margin-left: 10px;
}

.galary-sub {
  flex-wrap: wrap;
  color: white;
  text-align: left;
  margin-top: 30px;
  background-image: url(../images/guardians.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
  box-sizing: border-box;
  background-color: #1a1a1a;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button1 {
  display: flex;
  gap: 1rem;
}

.button22 {
  
}

.story-line {
  color: white;
  text-align: left;
}

.top-cast {
  margin-top: 20px;
  color: white;
  text-align: left;
  margin-bottom: 30px;
}

.top-cast img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.cast-list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.cast1,
.cast2,
.cast3,
.cast4,
.cast5,
.cast6,
.cast7 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.sec-1 {
  display: flex;
  justify-content: space-between;
  h3 {
    color: white;
  }
}

.story-line span{
  color: green;
}

.head {
  display: flex;
  justify-content: space-between;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.brand-logo {
  height: 90px;
}

.logo {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.plateform {
  text-align: left;
  h1 {
    color: white;
    font-size: 30px;
  }
}
.plateform small {
  color: white;
  word-spacing: 2.5px;
  color: orange;
}

.media {
  flex-wrap: wrap;
}

.media small {
  color: white;
  margin-bottom: -20px;
}

.media-logo {
  margin-bottom: 50px;
  justify-content: space-between;
}

.clossing {
  display: flex;
  justify-content: space-between;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
